/*
body::after {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
	padding: 0.25em 1em;
	text-align: center;
	color: white;
	font-weight: 700;

	@media @mobile {
		background: orange;
		content: "mobile";
	}

	@media @desktop {
		background: green;
		content: "desktop";
	}
}
*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
/*
	Every element should behave as border-box
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  -webkit-touch-callout: none;
}
/*
	Margin, padding, and border resets
	except for form elements
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
body {
  font-size: 100%;
}
b,
strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:active {
  color: inherit;
  text-decoration: none;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
input,
textarea,
button,
select {
  margin: 0;
  border: none;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
}
ul {
  list-style: none;
}
/*
	Text selection
	These are easy to forget
*/
::-moz-selection {
  background: #a82536;
  color: #fff;
}
::selection {
  background: #a82536;
  color: #fff;
}
::-moz-selection {
  background: #a82536;
  color: #fff;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../../model/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 700;
  src: url(../../model/fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../../model/fonts/Roboto-Regular.ttf);
}
html,
body {
  color: #000000;
  font-size: 16px;
  min-height: 100vh;
}
html,
body,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
html {
  background-color: #000000;
}
body {
  overflow-x: hidden;
  background-color: #ffffff;
  width: 100%;
}
@media only screen and (min-width: 700px) {
  body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 699px) {
  .wrapper {
    overflow: hidden;
    background-color: #a82536;
  }
  .bounds {
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 500ms ease-out;
            transition: -webkit-transform 500ms ease-out;
  }
  .nav-open .bounds {
    -webkit-transform: translate3d(-60vw, 0, 0);
    transform: translate3d(-60vw, 0, 0);
    -ms-transform: translate3d(-240px, 0, 0);
    -moz-transform: translate3d(-240px, 0, 0);
  }
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 400;
}
h1 {
  font-family: 'RobotoCondensed', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: .5em;
  margin-bottom: .5em;
}
@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 699px) {
  h1 {
    margin-left: .5em;
    font-size: 6vw;
  }
}
p {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.25em;
}
@media only screen and (min-width: 700px) {
  p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 699px) {
  p {
    margin-left: 1.25em;
    margin-right: 1.25em;
  }
}
.button {
  display: block;
  margin: 1rem auto;
  padding: .75em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: .85rem;
  letter-spacing: 2px;
  background-color: #243f7f;
  color: #ffffff;
}
@media only screen and (min-width: 700px) {
  .button {
    max-width: 30vw;
  }
}
@media only screen and (max-width: 699px) {
  .button {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 700px) {
  header {
    padding: 1rem 0;
  }
  .header-logo {
    float: left;
  }
  .navigation {
    margin-top: 3.3rem;
    margin-left: 7.5rem;
  }
  .navigation:after {
    content: "";
    display: table;
    clear: both;
  }
  .navigation li {
    display: block;
    float: left;
    width: 16.6%;
  }
  .navigation a {
    display: block;
    height: 3rem;
    background-color: #000000;
    color: #ffffff;
    padding: .5rem 10%;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    border-left: 1px solid #ffffff;
  }
  .navigation span {
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .navigation .navigation-logo {
    display: none;
  }
}
@media only screen and (max-width: 699px) {
  header {
    height: 16vw;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
  }
  .header-logo {
    display: block;
    width: 14vw;
    margin-left: 3vw;
    padding: 2vw 0;
  }
  .header-logo img {
    max-width: 85%;
  }
  .navigation:after {
    content: "\2630";
    cursor: pointer;
    position: absolute;
    top: 1vw;
    left: -13vw;
    font-size: 9vw;
    color: #ffffff;
    display: block;
  }
  .navigation {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -60vw;
    width: 60vw;
    min-height: 100vh;
    background-color: #a82536;
  }
  .navigation li {
    display: block;
    width: 100%;
    z-index: 200;
    border-bottom: 1px solid #ffffff;
    background-color: #a82536;
  }
  .navigation li a {
    color: #ffffff;
    display: block;
    padding: .75rem 2rem .75rem 1rem;
    font-size: 4vw;
  }
  .navigation li img {
    max-width: 20%;
    margin: .5rem 1rem;
  }
}
footer {
  text-transform: uppercase;
}
footer h3 {
  color: #243f7f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: .75em;
  font-size: 1rem;
}
footer .footer-address a {
  text-decoration: underline;
  display: block;
  margin-bottom: .5rem;
}
footer .footer-address span:first-of-type {
  font-weight: 700;
}
footer .footer-socialMedia a {
  color: transparent;
  font-size: 0;
  height: 51px;
  width: 51px;
  background-repeat: no-repeat;
  margin-right: .6rem;
}
footer .footer-socialMedia-facebook {
  background-image: url('../../model/images/icon_facebook.png');
}
footer .footer-socialMedia-instagram {
  background-image: url('../../model/images/icon_instagram.png');
}
footer .footer-socialMedia-youtube {
  background-image: url('../../model/images/icon_youtube.png');
}
footer .footer-hours table {
  text-align: left;
  vertical-align: middle;
}
footer .footer-hours thead,
footer .footer-hours td:first-of-type {
  font-weight: 700;
}
footer .footer-hours tr {
  height: 1.3rem;
}
footer .footer-hours td:nth-of-type(1) {
  width: 40%;
}
footer .footer-hours td:nth-of-type(2) {
  width: 25%;
}
footer .footer-hours td:nth-of-type(3) {
  width: 15%;
}
footer .footer-hours tbody tr:last-of-type {
  text-align: center;
}
footer .footer-hours a {
  text-decoration: underline;
}
@media only screen and (min-width: 700px) {
  footer {
    border-top: 2px solid #666666;
    margin-top: 3rem;
    padding: 3rem 0;
    color: #666666;
    font-size: .8rem;
  }
  footer:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer-address,
  .footer-hours {
    float: left;
  }
  .footer-address {
    width: 38%;
  }
  .footer-address span,
  .footer-address a {
    display: inline-block;
    margin-bottom: .5rem;
  }
  .footer-hours {
    width: 23%;
  }
  .footer-hours h3 {
    text-align: center;
  }
  .footer-hours tbody tr:last-of-type {
    height: 3rem;
  }
  .footer-socialMedia,
  .footer-externalLinks {
    float: right;
    width: 190px;
  }
  .footer-socialMedia {
    margin-top: 2rem;
  }
  .footer-socialMedia a {
    float: left;
    display: block;
  }
  .footer-externalLinks a {
    display: block;
    margin-bottom: .5rem;
  }
}
@media only screen and (max-width: 699px) {
  footer {
    text-align: center;
    padding: 1.5rem 0;
    color: #ffffff;
    background-color: #000000;
  }
  footer div {
    margin-bottom: 1.5rem;
  }
  .footer-hours table {
    margin: 0 auto;
    width: 80%;
    max-width: 250px;
  }
  .footer-hours tbody tr:last-of-type {
    height: 2rem;
  }
  .footer-socialMedia a {
    display: inline-block;
    margin: 0 auto;
  }
  .footer-externalLinks {
    margin-bottom: 0;
    color: #243f7f;
  }
  .footer-externalLinks h3 {
    display: none;
  }
  .footer-externalLinks a:first-of-type:after,
  .footer-externalLinks a:last-of-type:before {
    content: " | ";
  }
}
.news h2 {
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 1em auto;
  background-color: #ffffff;
  z-index: 2;
}
.news h2:before,
.news h2:after {
  content: "";
  display: block;
  border-top: 1px solid #666666;
  z-index: 1;
}
.news ul:after {
  content: "";
  display: table;
  clear: both;
}
.news li {
  display: block;
  overflow: hidden;
  background-color: #ededed;
}
.news h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: .25em;
}
.news p {
  font-size: .9em;
  margin: 0;
}
.news .news-info a {
  text-transform: uppercase;
  color: #243f7f;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: .9rem;
  margin-top: 1.1em;
  display: inline-block;
}
@media only screen and (max-width: 699px) {
  .news h2 {
    font-size: 4vw;
    width: 45vw;
  }
  .news h2:before,
  .news h2:after {
    width: 23vw;
  }
  .news h2:before {
    top: 2vw;
    right: 27.5vw;
  }
  .news h2:after {
    top: -2vw;
    right: -49.5vw;
  }
  .news li {
    height: 33vw;
    margin-bottom: .25rem;
  }
  .news div {
    width: 50%;
  }
  .news-image {
    float: left;
  }
  .news-image img {
    min-width: 100%;
    width: 100%;
  }
  .news-info {
    height: 100%;
    float: right;
    padding: 0 3vw;
  }
  .news-info span {
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .news-info h3 {
    font-size: 4vw;
  }
  .news-info p {
    font-size: 3.5vw;
  }
  .news-info a {
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 700px) {
  .news h2 {
    font-size: 1.25rem;
  }
  .news h2:before,
  .news h2:after {
    position: absolute;
    top: .5em;
    width: 33%;
  }
  .news h2:before {
    left: 0;
  }
  .news h2:after {
    right: 0;
  }
  .news li {
    width: 32.5%;
    height: 330px;
    float: left;
    margin-right: 1.1%;
    margin-bottom: 1.1%;
    text-align: center;
  }
  .news li:nth-of-type(3n) {
    float: right;
    margin-right: 0;
  }
  .news-image {
    background-color: #000000;
    overflow: hidden;
    height: 215px;
  }
  .news-image img {
    display: block;
    max-height: 100%;
    margin: 0 auto;
  }
  .news-info {
    padding: 1rem 0;
  }
}
.module-youtube,
.module-slideshow {
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.module-youtube iframe,
.module-slideshow ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 700px) {
  .module-slideshow {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 699px) {
  .module-slideshow {
    margin-bottom: 2.5rem;
  }
}
.module-slideshow img {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}
.module-slideshow-item {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #ffffff;
}
.module-slideshow-item a {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .75s ease 0;
          transition: opacity .75s ease 0;
}
.module-slideshow-item:after {
  content: "";
  display: block;
  height: .5em;
  width: .5em;
  border-radius: .75em;
  border: 1px solid #666666;
  background-color: #ffffff;
  position: absolute;
  bottom: -1rem;
  z-index: 3;
  cursor: pointer;
}
.module-slideshow-item.active {
  z-index: 3;
}
.module-slideshow-item.active a {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity .75s ease 0;
          transition: opacity .75s ease 0;
}
.module-slideshow-item.active:after {
  background-color: #666666;
  border-color: #666666;
}
.module-slideshow-1 li:after {
  display: none;
}
@media only screen and (min-width: 700px) {
  .module-slideshow-12 li:nth-of-type(1):after {
    left: 39%;
  }
  .module-slideshow-12 li:nth-of-type(2):after {
    left: 41%;
  }
  .module-slideshow-12 li:nth-of-type(3):after {
    left: 43%;
  }
  .module-slideshow-12 li:nth-of-type(4):after {
    left: 45%;
  }
  .module-slideshow-12 li:nth-of-type(5):after {
    left: 47%;
  }
  .module-slideshow-12 li:nth-of-type(6):after {
    left: 49%;
  }
  .module-slideshow-12 li:nth-of-type(7):after {
    left: 51%;
  }
  .module-slideshow-12 li:nth-of-type(8):after {
    left: 53%;
  }
  .module-slideshow-12 li:nth-of-type(9):after {
    left: 55%;
  }
  .module-slideshow-12 li:nth-of-type(10):after {
    left: 57%;
  }
  .module-slideshow-12 li:nth-of-type(11):after {
    left: 59%;
  }
  .module-slideshow-12 li:nth-of-type(12):after {
    left: 61%;
  }
  .module-slideshow-11 li:nth-of-type(1):after {
    left: 40%;
  }
  .module-slideshow-11 li:nth-of-type(2):after {
    left: 42%;
  }
  .module-slideshow-11 li:nth-of-type(3):after {
    left: 44%;
  }
  .module-slideshow-11 li:nth-of-type(4):after {
    left: 46%;
  }
  .module-slideshow-11 li:nth-of-type(5):after {
    left: 48%;
  }
  .module-slideshow-11 li:nth-of-type(6):after {
    left: 50%;
  }
  .module-slideshow-11 li:nth-of-type(7):after {
    left: 52%;
  }
  .module-slideshow-11 li:nth-of-type(8):after {
    left: 54%;
  }
  .module-slideshow-11 li:nth-of-type(9):after {
    left: 56%;
  }
  .module-slideshow-11 li:nth-of-type(10):after {
    left: 58%;
  }
  .module-slideshow-11 li:nth-of-type(11):after {
    left: 60%;
  }
  .module-slideshow-10 li:nth-of-type(1):after {
    left: 41%;
  }
  .module-slideshow-10 li:nth-of-type(2):after {
    left: 43%;
  }
  .module-slideshow-10 li:nth-of-type(3):after {
    left: 45%;
  }
  .module-slideshow-10 li:nth-of-type(4):after {
    left: 47%;
  }
  .module-slideshow-10 li:nth-of-type(5):after {
    left: 49%;
  }
  .module-slideshow-10 li:nth-of-type(6):after {
    left: 51%;
  }
  .module-slideshow-10 li:nth-of-type(7):after {
    left: 53%;
  }
  .module-slideshow-10 li:nth-of-type(8):after {
    left: 55%;
  }
  .module-slideshow-10 li:nth-of-type(9):after {
    left: 57%;
  }
  .module-slideshow-10 li:nth-of-type(10):after {
    left: 59%;
  }
  .module-slideshow-9 li:nth-of-type(1):after {
    left: 42%;
  }
  .module-slideshow-9 li:nth-of-type(2):after {
    left: 44%;
  }
  .module-slideshow-9 li:nth-of-type(3):after {
    left: 46%;
  }
  .module-slideshow-9 li:nth-of-type(4):after {
    left: 48%;
  }
  .module-slideshow-9 li:nth-of-type(5):after {
    left: 50%;
  }
  .module-slideshow-9 li:nth-of-type(6):after {
    left: 52%;
  }
  .module-slideshow-9 li:nth-of-type(7):after {
    left: 54%;
  }
  .module-slideshow-9 li:nth-of-type(8):after {
    left: 56%;
  }
  .module-slideshow-9 li:nth-of-type(9):after {
    left: 58%;
  }
  .module-slideshow-8 li:nth-of-type(1):after {
    left: 43%;
  }
  .module-slideshow-8 li:nth-of-type(2):after {
    left: 45%;
  }
  .module-slideshow-8 li:nth-of-type(3):after {
    left: 47%;
  }
  .module-slideshow-8 li:nth-of-type(4):after {
    left: 49%;
  }
  .module-slideshow-8 li:nth-of-type(5):after {
    left: 51%;
  }
  .module-slideshow-8 li:nth-of-type(6):after {
    left: 53%;
  }
  .module-slideshow-8 li:nth-of-type(7):after {
    left: 55%;
  }
  .module-slideshow-8 li:nth-of-type(8):after {
    left: 57%;
  }
  .module-slideshow-7 li:nth-of-type(1):after {
    left: 44%;
  }
  .module-slideshow-7 li:nth-of-type(2):after {
    left: 46%;
  }
  .module-slideshow-7 li:nth-of-type(3):after {
    left: 48%;
  }
  .module-slideshow-7 li:nth-of-type(4):after {
    left: 50%;
  }
  .module-slideshow-7 li:nth-of-type(5):after {
    left: 52%;
  }
  .module-slideshow-7 li:nth-of-type(6):after {
    left: 54%;
  }
  .module-slideshow-7 li:nth-of-type(7):after {
    left: 56%;
  }
  .module-slideshow-6 li:nth-of-type(1):after {
    left: 45%;
  }
  .module-slideshow-6 li:nth-of-type(2):after {
    left: 47%;
  }
  .module-slideshow-6 li:nth-of-type(3):after {
    left: 49%;
  }
  .module-slideshow-6 li:nth-of-type(4):after {
    left: 51%;
  }
  .module-slideshow-6 li:nth-of-type(5):after {
    left: 53%;
  }
  .module-slideshow-6 li:nth-of-type(6):after {
    left: 55%;
  }
  .module-slideshow-5 li:nth-of-type(1):after {
    left: 46%;
  }
  .module-slideshow-5 li:nth-of-type(2):after {
    left: 48%;
  }
  .module-slideshow-5 li:nth-of-type(3):after {
    left: 50%;
  }
  .module-slideshow-5 li:nth-of-type(4):after {
    left: 52%;
  }
  .module-slideshow-5 li:nth-of-type(5):after {
    left: 54%;
  }
  .module-slideshow-4 li:nth-of-type(1):after {
    left: 47%;
  }
  .module-slideshow-4 li:nth-of-type(2):after {
    left: 49%;
  }
  .module-slideshow-4 li:nth-of-type(3):after {
    left: 51%;
  }
  .module-slideshow-4 li:nth-of-type(4):after {
    left: 53%;
  }
  .module-slideshow-3 li:nth-of-type(1):after {
    left: 48%;
  }
  .module-slideshow-3 li:nth-of-type(2):after {
    left: 50%;
  }
  .module-slideshow-3 li:nth-of-type(3):after {
    left: 52%;
  }
  .module-slideshow-2 li:nth-of-type(1):after {
    left: 49%;
  }
  .module-slideshow-2 li:nth-of-type(2):after {
    left: 51%;
  }
}
@media only screen and (max-width: 699px) {
  .module-slideshow-12 li:nth-of-type(1):after {
    left: 28%;
  }
  .module-slideshow-12 li:nth-of-type(2):after {
    left: 32%;
  }
  .module-slideshow-12 li:nth-of-type(3):after {
    left: 36%;
  }
  .module-slideshow-12 li:nth-of-type(4):after {
    left: 40%;
  }
  .module-slideshow-12 li:nth-of-type(5):after {
    left: 44%;
  }
  .module-slideshow-12 li:nth-of-type(6):after {
    left: 48%;
  }
  .module-slideshow-12 li:nth-of-type(7):after {
    left: 52%;
  }
  .module-slideshow-12 li:nth-of-type(8):after {
    left: 56%;
  }
  .module-slideshow-12 li:nth-of-type(9):after {
    left: 60%;
  }
  .module-slideshow-12 li:nth-of-type(10):after {
    left: 64%;
  }
  .module-slideshow-12 li:nth-of-type(11):after {
    left: 68%;
  }
  .module-slideshow-12 li:nth-of-type(12):after {
    left: 72%;
  }
  .module-slideshow-11 li:nth-of-type(1):after {
    left: 30%;
  }
  .module-slideshow-11 li:nth-of-type(2):after {
    left: 34%;
  }
  .module-slideshow-11 li:nth-of-type(3):after {
    left: 38%;
  }
  .module-slideshow-11 li:nth-of-type(4):after {
    left: 42%;
  }
  .module-slideshow-11 li:nth-of-type(5):after {
    left: 46%;
  }
  .module-slideshow-11 li:nth-of-type(6):after {
    left: 50%;
  }
  .module-slideshow-11 li:nth-of-type(7):after {
    left: 54%;
  }
  .module-slideshow-11 li:nth-of-type(8):after {
    left: 58%;
  }
  .module-slideshow-11 li:nth-of-type(9):after {
    left: 62%;
  }
  .module-slideshow-11 li:nth-of-type(10):after {
    left: 66%;
  }
  .module-slideshow-11 li:nth-of-type(11):after {
    left: 70%;
  }
  .module-slideshow-10 li:nth-of-type(1):after {
    left: 32%;
  }
  .module-slideshow-10 li:nth-of-type(2):after {
    left: 36%;
  }
  .module-slideshow-10 li:nth-of-type(3):after {
    left: 40%;
  }
  .module-slideshow-10 li:nth-of-type(4):after {
    left: 44%;
  }
  .module-slideshow-10 li:nth-of-type(5):after {
    left: 48%;
  }
  .module-slideshow-10 li:nth-of-type(6):after {
    left: 52%;
  }
  .module-slideshow-10 li:nth-of-type(7):after {
    left: 56%;
  }
  .module-slideshow-10 li:nth-of-type(8):after {
    left: 60%;
  }
  .module-slideshow-10 li:nth-of-type(9):after {
    left: 64%;
  }
  .module-slideshow-10 li:nth-of-type(10):after {
    left: 68%;
  }
  .module-slideshow-9 li:nth-of-type(1):after {
    left: 34%;
  }
  .module-slideshow-9 li:nth-of-type(2):after {
    left: 38%;
  }
  .module-slideshow-9 li:nth-of-type(3):after {
    left: 42%;
  }
  .module-slideshow-9 li:nth-of-type(4):after {
    left: 46%;
  }
  .module-slideshow-9 li:nth-of-type(5):after {
    left: 50%;
  }
  .module-slideshow-9 li:nth-of-type(6):after {
    left: 54%;
  }
  .module-slideshow-9 li:nth-of-type(7):after {
    left: 58%;
  }
  .module-slideshow-9 li:nth-of-type(8):after {
    left: 62%;
  }
  .module-slideshow-9 li:nth-of-type(9):after {
    left: 66%;
  }
  .module-slideshow-8 li:nth-of-type(1):after {
    left: 36%;
  }
  .module-slideshow-8 li:nth-of-type(2):after {
    left: 40%;
  }
  .module-slideshow-8 li:nth-of-type(3):after {
    left: 44%;
  }
  .module-slideshow-8 li:nth-of-type(4):after {
    left: 48%;
  }
  .module-slideshow-8 li:nth-of-type(5):after {
    left: 52%;
  }
  .module-slideshow-8 li:nth-of-type(6):after {
    left: 56%;
  }
  .module-slideshow-8 li:nth-of-type(7):after {
    left: 60%;
  }
  .module-slideshow-8 li:nth-of-type(8):after {
    left: 64%;
  }
  .module-slideshow-7 li:nth-of-type(1):after {
    left: 38%;
  }
  .module-slideshow-7 li:nth-of-type(2):after {
    left: 42%;
  }
  .module-slideshow-7 li:nth-of-type(3):after {
    left: 46%;
  }
  .module-slideshow-7 li:nth-of-type(4):after {
    left: 50%;
  }
  .module-slideshow-7 li:nth-of-type(5):after {
    left: 54%;
  }
  .module-slideshow-7 li:nth-of-type(6):after {
    left: 58%;
  }
  .module-slideshow-7 li:nth-of-type(7):after {
    left: 62%;
  }
  .module-slideshow-6 li:nth-of-type(1):after {
    left: 40%;
  }
  .module-slideshow-6 li:nth-of-type(2):after {
    left: 44%;
  }
  .module-slideshow-6 li:nth-of-type(3):after {
    left: 48%;
  }
  .module-slideshow-6 li:nth-of-type(4):after {
    left: 52%;
  }
  .module-slideshow-6 li:nth-of-type(5):after {
    left: 56%;
  }
  .module-slideshow-6 li:nth-of-type(6):after {
    left: 60%;
  }
  .module-slideshow-5 li:nth-of-type(1):after {
    left: 42%;
  }
  .module-slideshow-5 li:nth-of-type(2):after {
    left: 46%;
  }
  .module-slideshow-5 li:nth-of-type(3):after {
    left: 50%;
  }
  .module-slideshow-5 li:nth-of-type(4):after {
    left: 54%;
  }
  .module-slideshow-5 li:nth-of-type(5):after {
    left: 58%;
  }
  .module-slideshow-4 li:nth-of-type(1):after {
    left: 44%;
  }
  .module-slideshow-4 li:nth-of-type(2):after {
    left: 48%;
  }
  .module-slideshow-4 li:nth-of-type(3):after {
    left: 52%;
  }
  .module-slideshow-4 li:nth-of-type(4):after {
    left: 56%;
  }
  .module-slideshow-3 li:nth-of-type(1):after {
    left: 46%;
  }
  .module-slideshow-3 li:nth-of-type(2):after {
    left: 50%;
  }
  .module-slideshow-3 li:nth-of-type(3):after {
    left: 54%;
  }
  .module-slideshow-2 li:nth-of-type(1):after {
    left: 48%;
  }
  .module-slideshow-2 li:nth-of-type(2):after {
    left: 52%;
  }
}
@media only screen and (max-width: 699px) {
  .module-slideshow-arrow {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .module-slideshow-arrow {
    position: absolute;
    top: 47%;
    bottom: 45%;
    width: 45px;
    height: 45px;
    z-index: 5;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .module-slideshow-arrow.prev {
    left: 0;
    background-image: url(/model/images/slides-back.jpg);
  }
  .module-slideshow-arrow.next {
    right: 0;
    background-image: url(/model/images/slides-next.jpg);
  }
}
.module-slideshow-1 .module-slideshow-arrow {
  display: none;
}
.index-features:after {
  content: "";
  display: table;
  clear: both;
}
.index-features a {
  float: left;
  display: block;
  width: 50%;
  overflow: hidden;
  padding: 12.5% 25%;
}
.index-features h2,
.index-features img,
.index-features a:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.index-features a:after {
  content: "";
  z-index: 2;
  opacity: .8;
  -webkit-transition: all .25s linear;
          transition: all .25s linear;
}
.index-features a:nth-of-type(1):after {
  background-color: #000c00;
}
.index-features a:nth-of-type(2):after {
  background-color: #000011;
}
.index-features a:nth-of-type(3):after {
  background-color: #1e0003;
}
.index-features a:nth-of-type(4):after {
  background-color: #211c00;
}
.index-features a:nth-of-type(1):hover:after {
  background-color: #4b9f4f;
}
.index-features a:nth-of-type(2):hover:after {
  background-color: #4f4982;
}
.index-features a:nth-of-type(3):hover:after {
  background-color: #c95053;
}
.index-features a:nth-of-type(4):hover:after {
  background-color: #a79b41;
}
.index-features h2 {
  z-index: 3;
  color: #ffffff;
  font-weight: 700;
  font-family: 'RobotoCondensed', sans-serif;
  top: 40%;
  text-align: center;
  display: block;
  width: 100%;
}
.index-features img {
  z-index: 1;
  max-width: 100%;
}
@media only screen and (max-width: 699px) {
  .index-features h2 {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 700px) {
  .index-features h2 {
    font-size: 2.75rem;
  }
}
/*# sourceMappingURL=index.css.map */