// Colours
@white: #fff;
@gray: #666;
@silver: #ededed;
@black: #000;
@red: #a82536;
@blue: #243f7f;

// variables
@widthNav: 60vw;

// Media Queries Breakpoints
@import 'media-queries.less';

// Functions
.transition (@propriety: all, @speed: 0.25s, @type: ease, @delay: 0s){
	transition: @arguments;
}
.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Reset stylesheet
@import 'reset.less';

// Basic layout
@import 'font.less'; // Roboto and RobotoCondensed
@import 'layout.less';
@import 'header.less';
@import 'footer.less';
@import 'news.less';
@import 'module.less';
