@import 'dev.less';

.feature {
	h1 span {
		display: block;
		color: @gray;
		letter-spacing: 2px;
	}
}

@media @desktop {
	.feature {
		p:first-of-type {	margin-top: 3em	}
		p:last-of-type { margin-bottom: 3em	}

		h1 { font-size: 2.5rem;	}
		h1 span { font-size: .5em }
	}
}

@media @mobile {
	.feature h1 span {
		font-size: .75em;
		margin-top: .4em;
	}
}
