footer {
	text-transform: uppercase;

	h3 {
		color: @blue;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: .75em;
		font-size: 1rem;
	}

	.footer-address {
		a {
			text-decoration: underline;
			display: block;
			margin-bottom: .5rem;
		}

		span:first-of-type {
			font-weight: 700;
		}
	}

	.footer-socialMedia a {
		color: transparent;
		font-size: 0;
		height: 51px;
		width: 51px;
		background-repeat: no-repeat;
		margin-right: .6rem;
	}

	.footer-socialMedia-facebook { background-image: url('../../model/images/icon_facebook.png') }
	.footer-socialMedia-instagram { background-image: url('../../model/images/icon_instagram.png') }
	.footer-socialMedia-youtube { background-image: url('../../model/images/icon_youtube.png') }

	.footer-hours {

		table {
			text-align: left;
			vertical-align: middle;
		}

		thead,
		td:first-of-type {
			font-weight: 700;
		}

		tr { height: 1.3rem }

		td:nth-of-type(1) { width: 40% }
		td:nth-of-type(2) { width: 25% }
		td:nth-of-type(3) { width: 15% }

		tbody tr:last-of-type {	text-align: center }

		a {	text-decoration: underline; }
	}
}

@media @desktop {
	footer {
		.group;
		border-top: 2px solid @gray;
		margin-top: 3rem;
		padding: 3rem 0;
		color: @gray;
		font-size: .8rem;
	}

	.footer-address,
	.footer-hours {
		float: left;
	}

	.footer-address {
		width: 38%;

		span,
		a {
			display: inline-block;
			margin-bottom: .5rem;
		}
	}

	.footer-hours {
		width: 23%;

		h3 { text-align: center }

		tbody tr:last-of-type {	height: 3rem }
	}

	.footer-socialMedia,
	.footer-externalLinks {
		float: right;
		width: 190px;
	}

	.footer-socialMedia {
		margin-top: 2rem;

		a {
			float: left;
			display: block;
		}
	}

	.footer-externalLinks {

		a {
			display: block;
			margin-bottom: .5rem;
		}
	}
}

@media @mobile {

	footer {
		text-align: center;
		padding: 1.5rem 0;
		color: @white;
		background-color: @black;
	}

	footer div { margin-bottom: 1.5rem; }

	.footer-hours {

		table {
			margin: 0 auto;
			width: 80%;
			max-width: 250px;
		}

		tbody tr:last-of-type {	height: 2rem }
	}

	.footer-socialMedia a {
		display: inline-block;
		margin: 0 auto;
	}

	.footer-externalLinks {
		margin-bottom: 0;
		color: @blue;

		h3 { display: none }

		a:first-of-type:after,
		a:last-of-type:before {
			content: " | ";
		}
	}
}
