@media @desktop {

	header {
		padding: 1rem 0;
	}

	.header-logo {
		float: left;
	}

	.navigation {
		.group;
		margin-top: 3.3rem;
		margin-left: 7.5rem;

		li {
			display: block;
			float: left;
			width: 16.6%;
		}

		a {
			display: block;
			height: 3rem;
			background-color: @black;
			color: @white;
			padding: .5rem 10%;
			text-transform: uppercase;
			text-align: center;
			font-size: .8rem;
			font-weight: 700;
			border-left: 1px solid @white;
		}

		span {
			display: block;
			top: 50%;
		  transform: translateY(-50%);
		}

		// Design logo added on the mobile version... bloody designer
		.navigation-logo { display: none; }
	}
}

@media @mobile {

	header {
		height: 16vw;
		background-color: @black;
		color: @white;
		width: 100%;
	}

	// Main logo
	.header-logo {
		display: block;
		width: 14vw;
		margin-left: 3vw;
		padding: 2vw 0;

		img {	max-width: 85%; }
	}

	// Menu button
	.navigation:after {
		content: "\2630";
		cursor: pointer;
		position: absolute;
		top: 1vw;
		left: -13vw;
		font-size: 9vw;
		color: @white;
		display: block;
	}

	// Links
	.navigation {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -60vw;
		width: @widthNav;
		min-height: 100vh;
		background-color: @red;

		li {
			display: block;
			width: 100%;
			z-index: 200;
			border-bottom: 1px solid @white;
			background-color: @red;

			a {
				color: @white;
				display: block;
				padding: .75rem 2rem .75rem 1rem;
				font-size: 4vw;
			}

			img {
				max-width: 20%;
				margin: .5rem 1rem;
			}
		}
	}
}
