@import 'dev.less';

.index-features {
	.group;

	a {
		float: left;
		display: block;
		width: 50%;
		overflow: hidden;
		padding: 12.5% 25%;
	}

	h2,
	img,
	a:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	a:after {
		content: "";
		z-index: 2;
		opacity: .8;
		transition: all .25s linear;
	}

	// Normal State
	a:nth-of-type(1):after { background-color:#000c00; } // green
	a:nth-of-type(2):after { background-color:#000011; } // purple
	a:nth-of-type(3):after { background-color:#1e0003; } // red
	a:nth-of-type(4):after { background-color:#211c00; } // yellow

	// Hover state
	a:nth-of-type(1):hover:after { background-color:#4b9f4f; } // green
	a:nth-of-type(2):hover:after { background-color:#4f4982; } // purple
	a:nth-of-type(3):hover:after { background-color:#c95053; } // red
	a:nth-of-type(4):hover:after { background-color:#a79b41; } // yellow

	h2 {
		z-index: 3;
		color: @white;
		font-weight: 700;
		font-family: 'RobotoCondensed', sans-serif;
		top: 40%;
		text-align: center;
		display: block;
		width: 100%;
	}

	img {
		z-index: 1;
		max-width: 100%;
	}
}

@media @mobile {
	.index-features h2 { font-size: 5vw }
}

@media @desktop {
	.index-features h2 { font-size: 2.75rem }
}
