html,
body {
	color: @black;
	font-size: 16px;
	min-height: 100vh;
}

html,
body,
input,
textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

html {
	background-color: @black;
}

body {
	overflow-x: hidden;
	background-color: @white;
	width: 100%;

	@media @desktop {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 1rem;
	}
}

@media @mobile {
	.wrapper {
		overflow: hidden;
		background-color: @red;
	}

	.bounds {
		background-color: @white;
	  transition: -webkit-transform 500ms ease-out;

		.nav-open & {
			-webkit-transform: translate3d(-60vw,0,0);
			transform: translate3d(-60vw,0,0);
			-ms-transform: translate3d(-240px,0,0);
			-moz-transform: translate3d(-240px,0,0);
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 400;
}

h1 {
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: .5em;
	margin-bottom: .5em;
}

@media @desktop {
	h1 { font-size: 2rem }
}

@media @mobile {
	h1 {
		margin-left: .5em;
		font-size: 6vw;
	}
}

p {
	margin-top: 2em;
	margin-bottom: 2em;
	line-height: 1.25em;
}

@media @desktop {
	p {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media @mobile {
	p {
		margin-left: 1.25em;
		margin-right: 1.25em;
	}
}

.button {
	display: block;
	margin: 1rem auto;
	padding: .75em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: .85rem;
	letter-spacing: 2px;
	background-color: @blue;
	color: @white;
}

@media @desktop {
	.button {	max-width: 30vw }
}

@media @mobile {
	.button {	max-width: 90vw }
}
