// Media Queries Breakpoints
@mobile:      ~"only screen and (max-width: 699px)";
@desktop:     ~"only screen and (min-width: 700px)";//" and (max-width: 1128px)";

// Media Queries testing
// This adds a label in the bottom-left corner that displays the current media query state.
/*
body::after {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
	padding: 0.25em 1em;
	text-align: center;
	color: white;
	font-weight: 700;

	@media @mobile {
		background: orange;
		content: "mobile";
	}

	@media @desktop {
		background: green;
		content: "desktop";
	}
}
*/
