
.module-youtube,
.module-slideshow {
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.module-youtube iframe,
.module-slideshow ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ---- Slide show

@media @desktop {
	.module-slideshow { margin-bottom: 3rem; }
}

@media @mobile {
	.module-slideshow { margin-bottom: 2.5rem; }
}

.module-slideshow img {
	display: block;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
}

// Items of the list
.module-slideshow-item {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-style: preserve-3d;
	background-color: @white;

	a {
		pointer-events: none;
		opacity: 0;
		transition: opacity .75s ease 0;
	}
}

// Bullets of the items
.module-slideshow-item:after{
	content: "";
	display: block;
	height: .5em;
	width: .5em;
	border-radius: .75em;
	border: 1px solid @gray;
	background-color: @white;
	position: absolute;
	bottom: -1rem;
	z-index: 3;
	cursor: pointer
}

// Item active
.module-slideshow-item.active {
	z-index: 3;

	a {
		pointer-events:auto;
		opacity:1;
		transition:opacity .75s ease 0;
	}

	// Bulletds
	&:after {
		background-color: @gray;
		border-color: @gray;
	}
}

// 1 item slideshow we do not show the bullet
.module-slideshow-1 li:after{ display: none }


// Placements of the bullets based number of slide show
@media @desktop {

	// 12 item slideshow
	.module-slideshow-12 {
		li:nth-of-type(1):after{ left: 39% }
		li:nth-of-type(2):after{ left: 41% }
		li:nth-of-type(3):after{ left: 43% }
		li:nth-of-type(4):after{ left: 45% }
		li:nth-of-type(5):after{ left: 47% }
		li:nth-of-type(6):after{ left: 49% }
		li:nth-of-type(7):after{ left: 51% }
		li:nth-of-type(8):after{ left: 53% }
		li:nth-of-type(9):after{ left: 55% }
		li:nth-of-type(10):after{ left: 57% }
		li:nth-of-type(11):after{ left: 59% }
		li:nth-of-type(12):after{ left: 61% }
	}

	// 11 item slideshow
	.module-slideshow-11 {
		li:nth-of-type(1):after{ left: 40% }
		li:nth-of-type(2):after{ left: 42% }
		li:nth-of-type(3):after{ left: 44% }
		li:nth-of-type(4):after{ left: 46% }
		li:nth-of-type(5):after{ left: 48% }
		li:nth-of-type(6):after{ left: 50% }
		li:nth-of-type(7):after{ left: 52% }
		li:nth-of-type(8):after{ left: 54% }
		li:nth-of-type(9):after{ left: 56% }
		li:nth-of-type(10):after{ left: 58% }
		li:nth-of-type(11):after{ left: 60% }
	}

	// 10 item slideshow
	.module-slideshow-10 {
		li:nth-of-type(1):after{ left: 41% }
		li:nth-of-type(2):after{ left: 43% }
		li:nth-of-type(3):after{ left: 45% }
		li:nth-of-type(4):after{ left: 47% }
		li:nth-of-type(5):after{ left: 49% }
		li:nth-of-type(6):after{ left: 51% }
		li:nth-of-type(7):after{ left: 53% }
		li:nth-of-type(8):after{ left: 55% }
		li:nth-of-type(9):after{ left: 57% }
		li:nth-of-type(10):after{ left: 59% }
	}

	// 9 item slideshow
	.module-slideshow-9 {
		li:nth-of-type(1):after{ left: 42% }
		li:nth-of-type(2):after{ left: 44% }
		li:nth-of-type(3):after{ left: 46% }
		li:nth-of-type(4):after{ left: 48% }
		li:nth-of-type(5):after{ left: 50% }
		li:nth-of-type(6):after{ left: 52% }
		li:nth-of-type(7):after{ left: 54% }
		li:nth-of-type(8):after{ left: 56% }
		li:nth-of-type(9):after{ left: 58% }
	}

	// 8 item slideshow
	.module-slideshow-8 {
		li:nth-of-type(1):after{ left: 43% }
		li:nth-of-type(2):after{ left: 45% }
		li:nth-of-type(3):after{ left: 47% }
		li:nth-of-type(4):after{ left: 49% }
		li:nth-of-type(5):after{ left: 51% }
		li:nth-of-type(6):after{ left: 53% }
		li:nth-of-type(7):after{ left: 55% }
		li:nth-of-type(8):after{ left: 57% }
	}

	// 7 item slideshow
	.module-slideshow-7 {
		li:nth-of-type(1):after{ left: 44% }
		li:nth-of-type(2):after{ left: 46% }
		li:nth-of-type(3):after{ left: 48% }
		li:nth-of-type(4):after{ left: 50% }
		li:nth-of-type(5):after{ left: 52% }
		li:nth-of-type(6):after{ left: 54% }
		li:nth-of-type(7):after{ left: 56% }
	}

	// 6 item slideshow
	.module-slideshow-6 {
		li:nth-of-type(1):after{ left: 45% }
		li:nth-of-type(2):after{ left: 47% }
		li:nth-of-type(3):after{ left: 49% }
		li:nth-of-type(4):after{ left: 51% }
		li:nth-of-type(5):after{ left: 53% }
		li:nth-of-type(6):after{ left: 55% }
	}

	// 5 item slideshow
	.module-slideshow-5 {
		li:nth-of-type(1):after{ left: 46% }
		li:nth-of-type(2):after{ left: 48% }
		li:nth-of-type(3):after{ left: 50% }
		li:nth-of-type(4):after{ left: 52% }
		li:nth-of-type(5):after{ left: 54% }
	}

	// 4 item slideshow
	.module-slideshow-4 {
		li:nth-of-type(1):after{ left: 47% }
		li:nth-of-type(2):after{ left: 49% }
		li:nth-of-type(3):after{ left: 51% }
		li:nth-of-type(4):after{ left: 53% }
	}

	// 3 item slideshow
	.module-slideshow-3 {
		li:nth-of-type(1):after{ left: 48% }
		li:nth-of-type(2):after{ left: 50% }
		li:nth-of-type(3):after{ left: 52% }
	}

	// 2 item slideshow
	.module-slideshow-2 {
		li:nth-of-type(1):after{ left: 49% }
		li:nth-of-type(2):after{ left: 51% }
	}
}

@media @mobile {

		// 12 item slideshow
	.module-slideshow-12 {
		li:nth-of-type(1):after{ left: 28% }
		li:nth-of-type(2):after{ left: 32% }
		li:nth-of-type(3):after{ left: 36% }
		li:nth-of-type(4):after{ left: 40% }
		li:nth-of-type(5):after{ left: 44% }
		li:nth-of-type(6):after{ left: 48% }
		li:nth-of-type(7):after{ left: 52% }
		li:nth-of-type(8):after{ left: 56% }
		li:nth-of-type(9):after{ left: 60% }
		li:nth-of-type(10):after{ left: 64% }
		li:nth-of-type(11):after{ left: 68% }
		li:nth-of-type(12):after{ left: 72% }
	}

	// 11 item slideshow
	.module-slideshow-11 {
		li:nth-of-type(1):after{ left: 30% }
		li:nth-of-type(2):after{ left: 34% }
		li:nth-of-type(3):after{ left: 38% }
		li:nth-of-type(4):after{ left: 42% }
		li:nth-of-type(5):after{ left: 46% }
		li:nth-of-type(6):after{ left: 50% }
		li:nth-of-type(7):after{ left: 54% }
		li:nth-of-type(8):after{ left: 58% }
		li:nth-of-type(9):after{ left: 62% }
		li:nth-of-type(10):after{ left: 66% }
		li:nth-of-type(11):after{ left: 70% }
	}

	// 10 item slideshow
	.module-slideshow-10 {
		li:nth-of-type(1):after{ left: 32% }
		li:nth-of-type(2):after{ left: 36% }
		li:nth-of-type(3):after{ left: 40% }
		li:nth-of-type(4):after{ left: 44% }
		li:nth-of-type(5):after{ left: 48% }
		li:nth-of-type(6):after{ left: 52% }
		li:nth-of-type(7):after{ left: 56% }
		li:nth-of-type(8):after{ left: 60% }
		li:nth-of-type(9):after{ left: 64% }
		li:nth-of-type(10):after{ left: 68% }
	}

	// 9 item slideshow
	.module-slideshow-9 {
		li:nth-of-type(1):after{ left: 34% }
		li:nth-of-type(2):after{ left: 38% }
		li:nth-of-type(3):after{ left: 42% }
		li:nth-of-type(4):after{ left: 46% }
		li:nth-of-type(5):after{ left: 50% }
		li:nth-of-type(6):after{ left: 54% }
		li:nth-of-type(7):after{ left: 58% }
		li:nth-of-type(8):after{ left: 62% }
		li:nth-of-type(9):after{ left: 66% }
	}

	// 8 item slideshow
	.module-slideshow-8 {
		li:nth-of-type(1):after{ left: 36% }
		li:nth-of-type(2):after{ left: 40% }
		li:nth-of-type(3):after{ left: 44% }
		li:nth-of-type(4):after{ left: 48% }
		li:nth-of-type(5):after{ left: 52% }
		li:nth-of-type(6):after{ left: 56% }
		li:nth-of-type(7):after{ left: 60% }
		li:nth-of-type(8):after{ left: 64% }
	}

	// 7 item slideshow
	.module-slideshow-7 {
		li:nth-of-type(1):after{ left: 38% }
		li:nth-of-type(2):after{ left: 42% }
		li:nth-of-type(3):after{ left: 46% }
		li:nth-of-type(4):after{ left: 50% }
		li:nth-of-type(5):after{ left: 54% }
		li:nth-of-type(6):after{ left: 58% }
		li:nth-of-type(7):after{ left: 62% }
	}

	// 6 item slideshow
	.module-slideshow-6 {
		li:nth-of-type(1):after{ left: 40% }
		li:nth-of-type(2):after{ left: 44% }
		li:nth-of-type(3):after{ left: 48% }
		li:nth-of-type(4):after{ left: 52% }
		li:nth-of-type(5):after{ left: 56% }
		li:nth-of-type(6):after{ left: 60% }
	}

	// 5 item slideshow
	.module-slideshow-5 {
		li:nth-of-type(1):after{ left: 42% }
		li:nth-of-type(2):after{ left: 46% }
		li:nth-of-type(3):after{ left: 50% }
		li:nth-of-type(4):after{ left: 54% }
		li:nth-of-type(5):after{ left: 58% }
	}

	// 4 item slideshow
	.module-slideshow-4 {
		li:nth-of-type(1):after{ left: 44% }
		li:nth-of-type(2):after{ left: 48% }
		li:nth-of-type(3):after{ left: 52% }
		li:nth-of-type(4):after{ left: 56% }
	}

	// 3 item slideshow
	.module-slideshow-3 {
		li:nth-of-type(1):after{ left: 46% }
		li:nth-of-type(2):after{ left: 50% }
		li:nth-of-type(3):after{ left: 54% }
	}

	// 2 item slideshow
	.module-slideshow-2 {
		li:nth-of-type(1):after{ left: 48% }
		li:nth-of-type(2):after{ left: 52% }
	}
}

// Arrows

@media @mobile {
	.module-slideshow-arrow { display: none }
}

@media @desktop {
	.module-slideshow-arrow {
		position: absolute;
		top: 47%;
		bottom: 45%;
		width: 45px;
		height: 45px;
		z-index: 5;
		text-indent: -99999px;
		background-repeat: no-repeat;
		background-position: center center;

		&.prev {
			left: 0;
			background-image: url(/model/images/slides-back.jpg);
		}

		&.next {
			right: 0;
			background-image: url(/model/images/slides-next.jpg);
		}
	}
}

// 1 item slideshow we do not show the arrows
.module-slideshow-1 .module-slideshow-arrow { display: none }
