@import 'dev.less';

.newspage {
	h1 span {
		display: block;
		color: @gray;
		letter-spacing: 2px;
	}

}

@media @desktop {
	.newspage h1 {
		text-align: center;
		font-size: 2.5rem;

		span { font-size: .5em }
	}
}

@media @mobile {
	.newspage h1 span {
		font-size: .75em;
		margin-top: .4em;
	}
}
