.news {

	h2 {
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
		margin: 1em auto;
		background-color: @white;
		z-index: 2;

		&:before,
		&:after {
			content: "";
			display: block;
			border-top: 1px solid @gray;
			z-index: 1;
		}
	}

	ul { .group; }

	li {
		display: block;
		overflow: hidden;
		background-color: @silver;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: .25em;
	}

	p {
		font-size: .9em;
		margin: 0;
	}

	.news-info a {
		text-transform: uppercase;
		color: @blue;
		letter-spacing: 2px;
		font-weight: 700;
		font-size: .9rem;
		margin-top: 1.1em;
		display: inline-block;
	}
}

@media @mobile {
	.news {
		h2 {
			font-size: 4vw;
			width: 45vw;

			&:before,
			&:after {
				width: 23vw; // 100 vw - 54 vw of the text, divided by two
			}

			// top 2 vw because the text is 4vw
			&:before { top: 2vw; right: 27.5vw }
			&:after { top: -2vw; right: -49.5vw }
		}

		li {
			height: 33vw;
			margin-bottom: .25rem;
		}

		div {	width: 50% }
	}

	.news-image {
		float: left;

		img {
			min-width: 100%;
			width: 100%;
		}
	}

	.news-info {
		height: 100%;
		float: right;
		padding: 0 3vw;

		span {
			display: block;
			top: 50%;
		  transform: translateY(-50%);
		}

		h3 { font-size: 4vw }
		p { font-size: 3.5vw }

		a {	font-size: 3.5vw }
	}
}

@media @desktop {
	.news {
		h2 {
			font-size: 1.25rem;

			&:before,
			&:after {
				position: absolute;
				top: .5em;
				width: 33%; // 100 vw - 54 vw of the text, divided by two
			}

			// top 2 vw because the text is 4vw
			&:before { left: 0 }
			&:after { right: 0 }
		}

		li {
			width: 32.5%;
			height: 330px;
			float: left;
			margin-right: 1.1%;
			margin-bottom: 1.1%;
			text-align: center;
		}

		li:nth-of-type(3n) {
			float: right;
			margin-right: 0;
		}
	}

	.news-image {
		background-color: @black;
		overflow: hidden;
		height: 215px;
	}

	.news-image img {
		display: block;
		max-height: 100%;
		margin: 0 auto;
	}

	.news-info {
		padding: 1rem 0;
	}
}
