
/*  Copyright to Hughes Motor newss Inc.

	Developed by The Metrick System - http://metricksystem.com/
	Yohann Paris - developer@metricksystem.com
*/

/* -- Reset -- */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	position: relative;
}
*:focus, *:active, *:hover {outline: 0 !important;}


html {
	width: 100%;
}

body {
	-webkit-tap-highlight-color: transparent;
	overflow: auto;
}

form {
	margin-bottom: 0;
}

ul {
	list-style: none;
}

h2 {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.4;
}

p{
	font-size: 14px;
	line-height: 1.3;
}

a {
	text-decoration: none;
	color: inherit;
}
a img {border: none;}

// ------ Fix for old Firefox -----
header, section, article, footer {
	display: block;
}

/* -- Content -- */

body {
	min-width: 720px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px;
}

header {
	text-align: center;
}

nav {
	margin: 20px auto 25px;
	width: 530px;
}

#page {
	margin: 50px auto 0;
    padding: 0;
    width: 980px
}

#page h1 {
	text-transform: uppercase;
	margin: 5px 0;
}

#page .help-block {
    color: #ccc;
}

/* Login page */
#page[role=admin] {
	text-align: center;
}

/* Admin page */
#page[role=page-admin] {
	width: 465px;
}

#page[role=page-admin] .tab-content{
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding-top: 15px;
}

#page[role=page-admin] .form-actions {
	margin: 0;
	border-bottom: 1px solid #DDDDDD;
}

/* Contact page */
#page[role=page-contact] {
	width: 465px;
}

#page[role=page-contact] .nav-tabs {
	margin: 0;
}

#page[role=page-contact] .tab-content{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding-top: 15px;
}

#page[role=page-contact] .form-actions {
	margin: 0;
	border-bottom: 1px solid #DDDDDD;
}

/* Menu page */
#page[role=page-menu] {
	margin-right: 193px;
	width: 650px;
}

#page[role=page-menu] .nav-tabs {
	margin: 0;
}

#page[role=page-menu] .tab-content{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	padding-top: 15px;
}

#page[role=page-menu] .form-actions {
	margin: 0;
	border-bottom: 1px solid #DDDDDD;
}

#page[role=page-menu] .input-xlarge {
    width: 432px;
}

/* Homepage page */
#page[role=page-homepage] {
  width: 800px;
}

#page[role=page-homepage] .nav-tabs {
	margin: 0;
}

#page[role=page-homepage] .tab-content{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding-top: 15px;
}

#page[role=page-homepage] .form-actions {
	margin: 0;
	border-bottom: 1px solid #DDDDDD;
}

#page[role=page-homepage] .input-xlarge {
  width: 432px;
}

#page[role=page-homepage] textarea {
	min-height: 20rem;
}

/* news page  and features */
#addNews {
    background: none repeat scroll 0 0 #ddd;
    border: 1px solid #C4C4C4;
    height: 275px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #444;
}

#addNews h1 {
    background: none repeat scroll 0 0 white;
    border-radius: 50px 50px 50px 50px;
    font-size: 125px;
    height: 100px;
    line-height: 71px;
    margin: 50px auto 10px;
    width: 100px;
}

#addNews h4 {
	font-size: 25px;
	line-height: 26px;
}

#page[role=page-features] h4 {
	text-transform: uppercase;
}

#addNews a:hover {
	color: #000;
    text-decoration: none;
}

#page[role=page-news] .widthnews {
	width: 220px;
	margin-left: 20px;
}

#page[role=page-news] .thumbnails,
#page[role=page-features] .thumbnails {
  margin: 0 auto;
  min-height: 300px;
}

#page[role=page-news] .thumbnails .span3,
#page[role=page-features] .thumbnails .span3 {
	width: 220px;
	margin-left: 20px;
}

#page[role=page-news] .thumbnail {
	padding: 0;
	min-height: 300px;
}

#page[role=page-news] .thumbnail > img {
	display: block;
	min-height: 164px;
	width: 100%;
	background-color: #ddd;
}

#page[role=page-news] .btn-toolbar {
	margin: 0;
}

#page[role=page-news] .display-page {
	float: right;
}

#page[role=page-news] .news .alert {
	border-color: red;
	border-width: 1px;
	bottom: -1px;
	left: -1px;
	margin: 0;
	position: absolute;
	right: -1px;
	top: -2px;
	z-index: 2;
}

/* Add/Edit page */
#page[role=page-news-addEdit],
#page[role=page-features] {
	width: 800px;
}

#page[role=page-news-addEdit] .nav-tabs,
#page[role=page-features] .nav-tabs {
	margin: 0;
}

#page[role=page-news-addEdit] .tab-content,
#page[role=page-features] .tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding-top: 15px;
}

#page[role=page-news-addEdit] .form-actions,
#page[role=page-features] .form-actions {
	margin: 0;
	border-bottom: 1px solid #DDDDDD;
}

#page[role=page-news-addEdit] .thumbnails {
	border-bottom: 1px solid #DDDDDD;
	margin: 20px 0 0;
	width: 100%;
}

#page[role=page-news-addEdit] .thumbnail {
	padding: 0;
}

#page[role=page-news-addEdit] .thumbnails .span3 {
	width: 220px;
	margin-left: 20px;
}

#page[role=page-news-addEdit] .btn-toolbar {
	margin: 0;
}

#page[role=page-news-addEdit] textarea,
#page[role=page-features] textarea {
	min-height: 15rem;
}
